[2020-04-21 16:02] fengyc opened #3 "Broadcast low battery message before shutdown"
Broadcast a meesage to all user when PiSugar has low battery, and then we could save all works before system shutdown.

[2020-04-22 03:57] fengyc opened #4 "Support `exit` command"
Add `exit` command, make it easier when programming in shell script with `nc`

[2020-04-24 01:12] fengyc opened #5 "Log to syslog"
Add a -d option to enable debug log

[2020-04-24 01:33] fengyc commented on #3
UPDATE:  add auto_shutdown_delay to /etc/pisugar-server/config.json

[2020-04-25 04:44] #4 closed

[2020-05-02 01:15] #5 closed

[2020-05-02 01:15] #3 closed

[2020-05-20 15:44] FGMGIT opened #6 "Rustup installation failure at installing rustc component in Pi Zero W"
installing component 'rustc'
31.1 MiB / 49.3 MiB ( 63 %) 1.2 MiB/s in 38s ETA: 14smemory allocation of 146176856 bytes failedAborted

SOLUTION:
rust-lang/rustup#2128

[2020-05-21 01:35] fengyc commented on #6
@FGMGIT It takes a lot of time to compile the project in Pi Zero W. For that reason, compiling in Pi zero is not recommended. I had documented the cross compiling steps in README, please feel free to open an issue if you are stuck with any problem.

[2020-05-24 17:15] FGMGIT commented on #6
Dear @fengyc can you give some help, I'm stucked with the rust installation for PiSugar 2. No way from PiZero W nor from cross compiling on macOS Catalina:

PiZero:

<img width="886" alt="Captura de pantalla 2020-05-24 a las 19 12 06" src="https://user-images.githubusercontent.com/15965708/82760239-9410d900-9df2-11ea-8574-cca7cc3ed2a2.png">

macOS:

<img width="894" alt="Captura de pantalla 2020-0

[2020-05-24 17:41] FGMGIT opened #7 "PiZero W reboot loop when load pisugar-poweroff.service"
PiZero W reboot loop when load pisugar-poweroff.service on boot process. How can I stop that service if i can't boot the PiZero?

[2020-05-25 02:03] fengyc commented on #7
The pisugar-poweroff service runs once only before poweroff. I could not reproduce the error, please provide detailed steps to reproduce.

And please connect pizero to a monitor and see what's happening, might be something else blocks the boot procedure.

[2020-05-25 02:06] fengyc commented on #6
@FGMGIT You need to clone the git project and change the current working directory to the project root directory.

[2020-05-26 16:24] FGMGIT commented on #6
**warning: spurious network error**
I'm not under proxi, firewall, etc.

<img width="856" alt="Captura de pantalla 2020-05-26 a las 18 20 57" src="https://user-images.githubusercontent.com/15965708/82925489-0b26a880-9f7e-11ea-897b-093873400e26.png">

[2020-05-26 16:48] FGMGIT commented on #7
Yes it was when the system load pisugar-poweroff.service and reboot again and again. Solved powering off manually from the switch.

[2020-05-27 01:40] fengyc commented on #6
Comment out or remove this line https://github.com/PiSugar/pisugar-power-manager-rs/blob/f1b1c11d18adb23b5a2282b479f0ed7d13201dae/.cargo/config#L3

[2020-05-27 01:48] fengyc commented on #7
@FGMGIT Is the issue still exists in the latest build? Download the latest build from url: https://github.com/PiSugar/pisugar-power-manager-rs/releases/download/latest/pisugar-poweroff_1.4.2_armhf.deb

[2020-06-02 10:25] FGMGIT commented on #6
**Build fails compiling pisugar-poweroff error: linker `arm-linux-musleabihf-ld` not found**

<img width="707" alt="Captura de pantalla 2020-06-02 a las 12 22 52" src="https://user-images.githubusercontent.com/15965708/83509695-1de43480-a4cc-11ea-82e2-360d8d93a106.png">

[2020-06-02 14:39] fengyc commented on #6
The cargo build default target has been changed to `arm-unknown-linux-musleabihf`.  If you want to compile the source code in rapi, remove the following lines: https://github.com/PiSugar/pisugar-power-manager-rs/blob/76dbc4769e6d2abe8979dbcec54c4171e68a0fd8/.cargo/config#L8-L9

[2020-06-19 13:14] rileyinman opened #8 "HTTPS support"
I'm unsure how difficult a feature this would be to implement, but it would be nice to have the option of using HTTPS. I reverse proxy all my network services in order to use my domain's SSL certificate, but can't do that for the pisugar interface because it loads an insecure websocket.

[2020-06-20 23:37] richardanaya commented on #6
I was able to install 1.44.1 using RUSTUP_UNPACK_RAM=200000000 fore rustup install

[2020-06-22 03:32] fengyc commented on #8
A good use case. The ws url is assembled in frontend, see:

https://github.com/PiSugar/pisugar-power-manager-rs/blob/76dbc4769e6d2abe8979dbcec54c4171e68a0fd8/electron/src/renderer/main.js#L15-L16

Change `ws` to `wss`，then build the web UI, and replace the default web UI in `/usr/share/pisugar-server/web`. Add a reverse proxy rule, nginx(or else) will set up a tunnel between wss request and pisuga

[2020-06-22 17:54] rileyinman commented on #8
Unfortunately I'm not sure it works that easily, as it's giving me errors about the websockets not having a valid SSL certificate. I think some services get around this by having a self-signed certificate they distribute, but I'm not sure.

[2020-06-23 01:15] fengyc commented on #8
The pisugar server has no self-signed certificate. Could you debug the ws connection with postwoman https://postwoman.io/realtime ?

[2020-06-23 02:53] rileyinman commented on #8
Here's what my nginx rule looks like:

[code]

The debug console gives me an error of `ERR_SSL_PROTOCOL_ERROR` attempting to connect to the console, and https://postwoman.io/realtime simply gives:
[code]

[2020-06-23 03:15] fengyc commented on #6
There is no more updates recently, I will close the issue soon. Feel free to reopen it if there are more questions.

[2020-06-23 03:15] #6 closed

[2020-06-23 03:15] fengyc commented on #7
There is no more updates recently, I will close the issue soon. Feel free to reopen it if there are more questions.

[2020-06-23 03:15] #7 closed

[2020-06-24 02:01] fengyc commented on #8
SSL configuration is missing in the 3rd `server` rule, fix it and give a try.
[code]

[2020-06-24 03:30] rileyinman commented on #8
I added the ssl configuration, and still get `ERR_SSL_PROTOCOL_ERROR` from the wss connection. The postwoman.io output is the same as before.

[2020-06-24 09:47] rileyinman opened #9 "RTC should be set to UTC time, display in either UTC or adjusted local time"
The problem:
- RTC clocks should be set to UTC time on Linux systems (https://tldp.org/HOWTO/Clock-2.html). Currently, the web interface sets the RTC value to local time, which breaks things.
- Not only that, it sets the clock to write-protected afterwards, which caused me [some confusion](https://github.com/PiSugar/PiSugar/issues/11) (should I open a separate issue for allowing the user to enable

[2020-06-25 09:21] fengyc commented on #8
Try the latest build https://github.com/PiSugar/pisugar-power-manager-rs/releases/tag/latest .  We don't need a standalone websocket port anymore, it has been integrated into http (`/ws`).  This should fix the problem.

[2020-06-25 09:27] fengyc commented on #9
Thanks for the suggestions that make sense. Will fix it soon.

[2020-06-25 09:39] fengyc commented on #9
According to the RTC chip datasheet, we need to enable write protect to avoid data corruption. There is an api to sync the time from rpi to RTC `rtc_pi2rtc`.

[2020-06-27 02:27] rileyinman commented on #8
@fengyc Thanks! Sorry it took me a bit to get back to you. Unfortunately, it looks like the new build has some issues.
- For some reason accessing the UI directly (https://hostname:8421) using Firefox doesn't work, but it does with Chrome. Firefox gives the error `Firefox can’t establish a connection to the server at ws://hostname:8421/ws.`
- Loading the (insecure) reverse proxy on either browser

[2020-06-27 09:32] fengyc commented on #8
Yeah, that is a bug, see https://github.com/1tgr/rust-websocket-lite/issues/85 . Need to wait for their updates.

[2020-06-27 09:34] rileyinman commented on #8
Ah, good to know. What about the reverse proxy failing though? It doesn't work in either browser.

[2020-06-27 09:54] fengyc commented on #8
Try this

[code]

[2020-06-27 10:02] rileyinman commented on #8
That worked perfectly, thank you! It even gets around the rust-websocket-lite bug :slightly_smiling_face:

[2020-06-27 10:03] rileyinman commented on #9
Now that the HTTPS bug is fixed, how would you suggest I test these changes?

[2020-06-27 10:05] rileyinman commented on #8
Should I leave this open until that bug is closed though? Since it breaks direct access this is probably something that should wait for a ralease like you said.

[2020-06-27 11:49] fengyc commented on #8
Leave this open. We will keep track of the websocket bug.

[2020-06-28 02:30] fengyc commented on #9
The RTC clock has been set to UTC, changing system timezone does not affect RTC clock data.  If the browser timezone hadn't been changed, the RTC clock result in web UI shoud be the same as before changing system timezone.

[code]

[2020-06-28 14:04] #8 closed

[2020-07-04 14:59] fengyc commented on #9
@rileyinman The latest development build has fix the RTC timezone issue, download and have a try if you are interested in it. We will release the next version soon.

[2020-07-04 20:08] rileyinman commented on #9
Thanks, I'll test it out later today!

[2020-07-05 08:47] rileyinman commented on #9
The timezone displays correctly, and having the RTC and SYS time show separately looks great! I had some trouble getting the Web > Pi & RTC function to work, though using Pi > RTC worked fine. Also, every 3-5 seconds the "charging" indicator pops up briefly even though I'm not charging (not sure if this is related).

[2020-07-05 11:35] fengyc commented on #9
Yeah, it's confusing. Due to hardware limitation, battery charging status is dectected by reading the ouput voltage in PiSugar 2 with 4-LEDs. The voltage is not stable, especially when the power cable is plugged in.

The good news is that has been fixed in the new models, PiSugar 2 with 2-LEDs and PiSugar 2  Pro with no-LEDs.

[2020-07-05 12:11] rileyinman commented on #9
Oh? I just got my PiSugar 2 a few days before I opened this issue, where could I find this new model?

[2020-07-06 04:24] fengyc commented on #9
Well, a long story, but we finally make it. If you feel interested, contact pisugar.zero@gmail.com for more details, we could offer you some pictures, descriptions, etc.

[2020-07-17 02:25] tisboyo opened #11 "Crashing when config fails to load"
Version: v1.4.3 and nightly v1.4.4  ( ee6c902 )

If /etc/pisugar-server/config.json has a bad value in auto_wake_time (like null), pisugar-core will fail to load.

Also, for some reason `null` is the default value after installing.

Somehow I managed to get a value that it liked in there and got it to load for one pi, but not the second.

[2020-07-17 05:12] tisboyo commented on #11
After multiple reboots it started working again on one.

[2020-07-17 05:12] #11 closed

[2020-08-03 01:28] #9 closed

[2020-08-03 01:35] fengyc opened #13 "pisugar-server failed to launch"
Keep track of https://github.com/PiSugar/PiSugar/issues/12

[2020-08-03 13:05] jzting commented on #13
[code]

[2020-08-03 13:45] fengyc commented on #13
I2C disabled? If this is a new pi, you need to enable i2c interface, see https://github.com/PiSugar/pisugar-power-manager-rs#enable-i2c-interface

[2020-08-03 14:03] fengyc commented on #13
@jzting Have you execute the `Pisugar-power-manager.sh`，or just use `dpkg -i` to install the deb file ?

[2020-08-03 17:04] jzting commented on #13
i2c was enabled, and I ran:

[code]

[2020-08-04 00:31] fengyc commented on #13
Ok, a tough bug.  What's the output of `ls -al /dev/i2c*`, could you see `i2c-0` or `i2c-1`?

[2020-08-05 23:32] jzting commented on #13
I don't have the PiSugar2 hooked up right now, but this is the output:

[code]

The PiSugar2 provides power, but it causes [this issue](https://github.com/PiSugar/PiSugar/issues/13) when used with the HyperPixel display.

[2020-08-07 01:44] fengyc commented on #13
I'm not familiar with HypberPixel display. An I2C address collision might cause that issue, I guess.

Pisugar server has the ability of recovering from errors, after the hardware problem is gone.

I will keep an eye on this. Feel free to ping me if you have an update.

[2020-09-04 21:30] hstubbs3 opened #14 "seems related to #13 but that was fixed because can run without HW?"
This is using a raspberry pi 4 with the hyperpixel 4.0 touchscreen ( the wide one.. - https://shop.pimoroni.com/products/hyperpixel-4?variant=12569485443155 )

I had followed directions on the main github page and it installed 1.4.4 today, which refused to start saying it could not load configuration. Saw there was 1.4.5 release, installed that.

Now I can get the webUI but it does not show batter

[2020-09-04 22:48] hstubbs3 commented on #14
https://github.com/pimoroni/hyperpixel

Important note
HyperPixel uses DPI mode 6, which means you can't use (hardware) I2C or SPI at the same time (the setup.sh script will disable those interfaces for you, but make sure not to reenable them by accident).

In addition, DAC type of products communicating with the Pi over I2S are also incompatible, as they use the same pins. It is possible to use t

[2020-09-05 06:24] fengyc commented on #14
Thanks for the information.

We had read the note carefully, but unfortunately there is no solution for now.  As the I2C funstion has been broken by HyperPixel, we could do nothing in software level to fix the problem.

[2020-09-07 15:37] #14 closed

[2020-09-07 15:40] hstubbs3 commented on #14
Exactly, it is not a software issue.

I am closing this as I have figured out the workaround - I blocked the pogo pins for SDA and SCL with electrical tape and soldered wires to the SDA and SCL pad and connected those to the HyperPixel's I2C bus.

The HyperPixel I2C showed as /dev/i2c-7...  I created a symbolic link /dev/i2c-1 => /dev/i2c-7 and your software was able to connect and read the batter

[2020-10-06 11:32] f0o opened #15 "pisugar-server invoking `date` with invalid format"
[code]

[2020-10-14 16:58] cyanlink opened #16 ""Full Charge Duration" delay mechanism is not working"
Log info:
[code]
full_charge_duration variable is always null, though unwrap_or() is used......

[2020-10-14 17:00] cyanlink commented on #16
Being dumb here.

[2020-10-14 17:04] cyanlink commented on #16
Or maybe we can say that 5 min of continued charging is not enough to average out the battery level measurement error? With 5 min the charging indicator LEDs will never turn green.

[2020-12-27 23:26] 3dlabsio opened #18 "auto_power_on"
Does this new feature allow us to not have to press the "activate" button if the battery is disconnected or loses all charge?

[2020-12-28 11:23] fengyc commented on #18
No, it didn't. "activate" button and `auto_power_on` are different funtions.

In order to prevent the battery from being damaged,  the chip (on PiSugar2 Pro) will stop the power output when the battery loses all charge. We need to press the "activate" button to reenable it.

[2020-12-28 17:28] 3dlabsio commented on #18
Is there a connector on the board to place the activate button outside of a case?

[2021-01-01 00:07] larrylisky opened #19 "Pi-Sugar 2 programmable button doesn't work"
I did some debugging in 'pisugar-core.rs' and 'ip5902.rs' and found that [this code block](https://github.com/PiSugar/pisugar-power-manager-rs/blob/9d30e4d21d10d4ef04c530d92324448ca2f4ebd5/pisugar-core/src/ip5209.rs#L394) seems to be the problem.  If I swap the two gpio_value &... lines, the button began to work.  I don' know if the 'if statement' itself is at fault, or the return values are in th

[2021-01-04 11:16] fengyc commented on #19
@larrylisky It looks like the `model` parameter is incorrect.

See `/etc/default/pisugar-server.default`, replace `--model 'PiSugar 2 (4-LEDs)'` with `--model 'PiSugar 2 (2-LEDs)'`.

[2021-01-08 04:43] larrylisky commented on #19
Thank you!  This worked.

[2021-01-08 04:43] #19 closed

[2021-01-08 14:39] Cocoo68332 opened #21 "How to prevent from logging to syslog ?"
Hi,

I am monitoring the battery by rpimonitor which sends get* to the server pisugar-server each 10sec.

pisugar-server logs each access to /var/log/syslog,  saturating the log.

I tried preventing the server from loging to syslog, but cant find an option. My server is launched with the default options (from /etc/default/pisugar-server) :

OPTS=--config config.json --model 'PiSugar 2 Pro' --web /

[2021-01-10 05:20] fengyc commented on #21
If `-s` or `--syslog` is not specified, pisugar-server would not write syslog. These logs are generated by systemd. The pisugar-server is managed by systemd, and all the log is captured by systemd-journald.

Maybe you need to add a journald configuration to disable `ForwardToSyslog`, see `man systemd` and `man journald`.

[2021-01-10 20:18] Cocoo68332 commented on #21
Thx for the advice. I was able to stop the log by adding to /etc/systemd/journald.conf :

MaxLevelSyslog=err

However, this is not a good solution because 1) it prevents ALL units logs, and 2) I am affraid to miss an alert message in case of power failure ?

To solve pb 1) I tried to add to /usr/lib/systemd/system/pisugar-server.service

LogLevelMax=err

But for a reason that I dont understand, th

[2021-02-03 19:43] GSVNoFixedabode opened #22 "How to force RTC update on boot?"
Is there a simple command to immediately update the date on a Pi Zero from the Sugar2 RTC on boot?
At present I have a script that runs on boot (within crontab, @reboot...):

But it seems when Pi Zero first starts ,the internal clock is still set to time at last shutdown so files are being mis-named. Is there a way to add a step to immediately update date from the RTC? Date seems to auto update fr

[2021-02-04 00:37] fengyc commented on #22
Add the following code into the `@reboot` script
[code]
See https://github.com/PiSugar/pisugar-power-manager-rs#unix-domain-socket--webscoket--tcp

[2021-02-04 00:54] fengyc commented on #21
See https://www.freedesktop.org/software/systemd/man/systemd.exec.html#StandardOutput=
[code]

[2021-02-04 01:42] GSVNoFixedabode commented on #22
Ah, thank you - I'd missed that when looking for the command!

[2021-02-04 01:42] #22 closed

[2021-02-21 15:07] #21 closed

[2021-03-27 22:22] PeterMalkin opened #23 "Cant install .debs"
I am generating an sdcard image for my project using QEMU.
(https://wiki.debian.org/RaspberryPi/qemu-user-static)

It seems your deb packages fail to install

+ mktemp
+ TEMP_DEB=/tmp/tmp.kpff6YLkzb.deb
+ wget -O /tmp/tmp.kpff6YLkzb.deb http://cdn.pisugar.com/release/pisugar-poweroff_1.4.9_armhf.deb
--2021-03-27 22:03:23--  http://cdn.pisugar.com/release/pisugar-poweroff_1.4.9_armhf.deb
Resolving

[2021-03-28 07:20] fengyc commented on #23
The postinst script (https://github.com/PiSugar/pisugar-power-manager-rs/blob/master/pisugar-server/debian/postinst) would start the systemd service after the deb package has been installed.

I had fix the problem. Please download and test the latest development build (https://github.com/PiSugar/pisugar-power-manager-rs/releases/tag/latest)

[2021-03-28 18:43] PeterMalkin commented on #23
Thanks for your attention!

Although your fix is a good thing to have in the postinst script, the problem I believe lies in a different place.

++ mktemp
+ TEMP_DEB=/tmp/tmp.CKTygFMdII.deb
+ wget -O /tmp/tmp.CKTygFMdII.deb https://github.com/PiSugar/pisugar-power-manager-rs/releases/download/latest/pisugar-server_1.4.9_armhf.deb
--2021-03-28 19:18:25--  https://github.com/PiSugar/pisugar-power-man

[2021-03-30 01:24] fengyc commented on #23
The log said "Module i2c-dev not found in directory /lib/modules/5.4.0-70-generic".  But the search result of libi2c-dev said that it is a userspace programming library, see https://packages.ubuntu.com/groovy/libi2c-dev. So, did the i2c-dev module had been configured correctly ?

[2021-04-03 19:00] steev opened #24 "PiSugar Pro with Debian kernel gets a different i2c address"
I probably need to file this bug with rppal, but I'll post it here in case anyone else runs into it...

I've got a system that runs the Debian kernel as opposed to raspbian kernel, and after probing i2c-dev and i2c-bcm2835, the pisugar 2 pro is on i2c-3 and *not* i2c-0 or i2c-1 like is expected.

[code]

What I had to do was fork the rppal repo, and modify the line that sets the bus from 1 to 3, a

[2021-05-03 21:59] causalloop opened #25 "PiSugar Power Management page not showing battery levels"
Checked on firefox and chrome as well as windows and os x to be sure, but I just see "...%" on the manager page.

![image](https://user-images.githubusercontent.com/1778928/116938419-99d88680-ac1f-11eb-8321-9b89714b2676.png)

I'm 95% that I have the 2 LED version (I'm assuming thats referring to the 2 blue led's on either side of the board - the amazon page wasn't very specific).  Its definitely t

[2021-05-04 21:23] causalloop commented on #25
Just to add to this, executing:
`echo "get battery" | nc -q 0 127.0.0.1 8423` returns "Invalid request"

[2021-05-07 01:21] wlmh110 commented on #25
Hi，
Could you please use i2c tools to see what is in 0x75?
i2cdump -y 1 0x75

[2021-05-07 03:21] causalloop commented on #25
Curious, the first time I ran `i2cdetect -y 1` (before I posted), it definitely showed up in the table, but now it doesn't.  The i2cdump returns:
[code]

[2021-05-07 03:57] causalloop commented on #25
Just tried it on another pi zero w and the results were the same.  Sounds like something's up with the board.

[2021-05-19 03:53] luisbc92 opened #26 "Arch Linux Support"
I am currently using a PiSugar 2 Pro on a Raspberry Pi 4 running Manjaro.

I would like to be able to use the software here. I managed to successfully compile the server, however I don't know Rust enough to make a package correctly for Arch.

[2021-05-19 06:55] fengyc commented on #26
@luisbc92  I found a solution  https://github.com/fosskers/cargo-aur . I will fix it soon.

[2021-05-21 11:40] aantuness commented on #25
Have the same issue, i noticed using i2cdetect -y 1 that I have 32 but not 75..

[2021-05-31 01:17] luisbc92 commented on #26
Thank you!

[2021-06-15 15:38] jan94 opened #27 "Running PiSugar on a different I2C BUS"
I want to run my PiSugar2 on a software emulated i2c bus (number 2), but the pisugar server does not connect.
I tried to change the Rust code to use 'with_bus(2)' instead if 'new()' and compiled it under linux.
But on the Raspberry Pi Zero W the systemd service constantly fails to start up:

pi@raspberrypi:/etc/pisugar-server$ sudo systemctl status pisugar-server.service
   pisugar-server.service

[2021-06-16 08:41] jan94 commented on #27
When I try to start the binary I get an illegal instruction..
pi@raspberrypi:/usr/lib/systemd/system$ /usr/bin/pisugar-server --config config.json --model 'PiSugar 2 (2-LEDs)' --web /usr/share/pisugar-server/web --http 0.0.0.0:8421 --ws 0.0.0.0:
Illegal instruction

[2021-06-16 11:21] #27 closed

[2021-06-16 11:22] jan94 commented on #27
Cross Compiling under Ubuntu did produce an ARM V7 binary...

[2021-06-20 19:48] 18637 commented on #25
I also have the same issue. mine is running i2c 32 also. Running on a Rp4 Compute module. is there any way to fix this?

[2021-06-26 03:28] fengyc commented on #25
Steps to figure out what went wrong:
1. Ensure I2C is enabled `sudo raspi-config`
2. Remove PiSugar, then run `i2cdetect -y 1 0x75`. If there is any output, it means another device with same I2C address 0x75 conflicts with PiSugar.  You have to remove/disable the I2C pins of either that device or PiSugar, otherwise both of them do work.

[2021-06-26 04:28] 18637 commented on #25
@fengyc  Are you saying that if you disable the i2c pins of either device then they will both work? or wont work?
Can the Pi sugar i2c address be changed?

[2021-06-26 19:24] psi5asp commented on #25
Pi-4 requires
/boot/config.txt
dtparam=i2c1=on

[2021-06-26 21:01] psi5asp opened #28 "battery_power_plugged shows false when plugged into power"
Using newser PiSugar(2) with Pi-4B with the official Pi-4 PSU, and getting 'false' with
get battery_power_plugged

Either:
1) I have a faulty PiSugar board, or
2) the PiSugar (by design) does not normally recharge when plugged into the mains and the Pi-4B  - this is not how it was advertised and defeats the purpose of a UPS......in which case the name "battery power plugged" name is misleading - p

[2021-06-27 20:42] 18637 commented on #25
@fengyc The latest version 1.5.0 has fixed this issue for me. Thank you.

[2021-06-28 02:57] wlmh110 commented on #28
Hello, can you check the version of the software? We suspect that the software version is wrong
When choosing software version, you should choose Pro instead of 2LED or 4led version

[2021-07-13 08:54] ArJay60 opened #29 "[BUG]"
PI3B with PiSugar Pro and Pisugar powermanager.

When rebooting Pi from terminal with 'reboot'-command the power to the Pi is cut off. The Pi needs to be restarted by pressing the activate button in the Pisugar.

Expected is that with a reboot command the Pi remains under power and can restart without further manual intervention.

Do i do something wrong why it is not working?

[2021-07-15 08:53] fengyc commented on #29
@wlmh110

[2021-07-15 14:43] wlmh110 commented on #29
Hello, please contact us to get a replacement.
pisugar.zero@gmail.com

[2021-07-23 08:01] psi5asp commented on #29
It is possible that the unit is under powered and the battery level goes to zero (espeically with USB drives).

Sometimes Pi-3B's have underpower issues - especially under heavy load or USB/HDD usage.

I had an issue where the battery level was decreasing even though it was showing as 'Charging' on the PiSugar - I suspected it was due to power supply issues to the Pi 3B (connnected to HDMI showed

[2021-07-23 16:37] ArJay60 commented on #29
Not the issue. Dmesg gives no low voltage warnings. Batteries are loaded. Pi is running happely without issues for days. If i pull the power goed from the pisugar everything jeeps running fine. The only thing i should not do is using the reboot command on the pi to reboot the Pi. If info that everything including pisugar is powered off.

[2021-07-23 16:38] ArJay60 commented on #29
Last sentence should be: If i do that everything including pisugar is powered off. Restart only possible by pressing button on pisugar.

[2021-08-16 19:11] snarflakes opened #30 "I'd like for the battery management to control powering off easier.[FEATURE]"
**Is your feature request related to a problem? Please describe.**
users right now have to
1. press a button my pi device to shut down the application and the raspberry pi.
2. then Wait till the green light finishes processing - 10s?
3. THEN they have to flip the pi-sugar switch to turn it off.

**Describe the solution you'd like**
I want my users to flip the switch to turn it on,
and flip the swi

[2021-08-17 01:32] fengyc commented on #30
We need more information, the pisugar-server and  pisugar-poweroff version.

Generally, if you have a customized tap action shell script to shutdown the raspberry pi, then the pisugar-poweroff will shutdown the pisugar.

[2021-08-17 01:32] fengyc commented on #30
@wlmh110

[2021-08-17 03:53] snarflakes commented on #30
Thanks for the help!

So properly configuring the pisugar-poweroff software would enable my own GPIO button activation programmed to shutdown ras pi (not the button on the pisugar?) to completely cut power to the whole board (all lights turn off)?

So in the end, the power switch would not be tied to a direction for on and off? If its off, flip the switch to the opposite direction (could end up be

[2021-08-17 04:05] fengyc commented on #30
The pisugar-poweroff needs no configuration except the pisugar model. Before the Linux os shutdown, systemd would launch pisugar-poweroff, and then it would send an i2c message to pisugar to cut off the power supply.

So, you don't need to flip the power switch to shutdown the pisugar. But you need to flip the switch off and then on to wake up pisugar and resume the power supply.

[2021-08-17 04:08] snarflakes commented on #30
What software needs to be pre-loaded for that to automatically take place?

this one?
https://github.com/PiSugar/PiSugar/wiki/PiSugar-Power-Manager-(Software)

[2021-08-17 04:15] fengyc commented on #30
The latest release: https://github.com/PiSugar/pisugar-power-manager-rs/releases/tag/v1.5.2

If you need to customize the tap button action, you need to install pisugar-server and pisugar-poweroff.

The pisugar-server web console url is http://<your rpi ip>:8423

[2021-08-17 04:20] snarflakes commented on #30
Thanks, your team is the best.
I'm going to test the pi-sugar power manager.

I love the idea of the easy off function of the pi-sugar power manager.  But in terms of UI for powering ON, I'm not sold on the flip switch back and forth for "wake" function.  Seems quite confusing for new users of a product to flip the switch back and forth to turn it on. That would take special very clear user instru

[2021-08-17 04:27] fengyc commented on #30
Yeah, we had made some improvements on the 3rd generation.

[2021-08-17 04:39] snarflakes commented on #30
Last question:
The battery protection “automatic shutdown for low battery level” function is that loaded automatically just like the raspbery pi power off automated sleep state? Or is that require the full server set up?

Thanks

Sent from ProtonMail Mobile

On Mon, Aug 16, 2021 at 9:28 PM, Yingcai Feng ***@***.***> wrote:

[2021-08-17 06:01] fengyc commented on #30
Any thing that could be runnable. It could be a shell command, or a runnable file,  ".sh" or ".py" (after `chmod +x `)

[2021-08-17 22:54] snarflakes commented on #30
Where does the script need to be located for the software to find it?

[2021-08-18 00:24] fengyc commented on #30
Anywhere is fine. You need to ensure the full path is correct.

[2021-08-19 15:46] #30 closed

[2021-10-05 11:41] aotd1 commented on #25
Possible very simple root case: your raspberry pi powered directory over USB and PiSugar2 is completely powered off by switch =)
Just power on PiSugar =)

[2021-10-06 03:57] dipunm opened #33 "Auto-Shutdown Notify/Custom Command"
My pi setup requires a specific shutdown command.

I saw that there is a `wall` announcement made to all logged in users if there is a delay set, however I wish to be able to run a command before shutdown or ideally use a custom shutdown command.

[2021-10-20 17:28] RedHandShepard opened #35 "64x install"
Hi sorry if this is not the correct place to ask but i couldn't discern  what you meant by if your running 64x you need to manually install the pisugars software, what do i need to install? Thanks for any help, if its not painfully obvious im new at all this.

On a side note did you guys fix the issue with the sense hat conflicting with your battery? The other post about the issue said it would be

[2021-10-21 17:30] RedHandShepard opened #36 "[BUG] UbuntuMate i2c"
**Environment**
 - Pi hardware version: <4,8gb>
 - OS version: <UbuntuMate 64x>
 - Application version: <1.5.0/1.5.1...>

**To Reproduce**
Steps to reproduce the behavior:
Just use you wget command to download and install your software.

**Expected behavior**
I was hoping to install the safe shutdown

**Additional context**
I have enabled 12c on my pi and can use
Ls /dev/i2c*
It returns:
 /dev/i2c

[2021-10-21 17:47] #35 closed, assigned to nobody

[2021-10-22 03:06] RedHandShepard commented on #36
Ahh, thank you so much for your help and quick response. Im new to github and linux. i didn't know where to find those files or how to install them until today, but you made the process very easy. Your team(and product) are the best, thanks again.

[2021-10-22 03:06] #36 closed

[2021-11-13 08:23] SecretShangri-La opened #37 "Cannot process pisugar-power-manager-rs with cargo-aur"
I wasn't sure if I should report this issue to cargo-aur, but other crates (i.e. sharkdp/bat) handled it fine, so I decided it was a problem specific to this crate.

### Is Problem
[code]
As it turns out, I'm getting this error and cannot generate a PKGBUILD.

I decided to use PiSuger 2 Pro to build my own computer set with Rasbarry Pi 3 to do programming exercises and research for college. I have

[2021-11-16 01:42] fengyc commented on #37
Hi, @SecretShangri-La . See https://github.com/PiSugar/pisugar-power-manager-rs#install-archlinux-only ,  I had added a  script  to generate the package for archlinux.

Please let me know whether it solve the problem or not.

[2021-11-18 21:34] cariacou opened #42 "[FEATURE] Install the package without prompt/user interaction (PiSugar 2 Pro)"
Right now, installing the package requires the user to manually select the PiSugar 2 Pro version.

Is it possible to modify the installation script to provide an installation without any user interaction? I am planning on using this on a large scale development

[2021-11-19 01:01] fengyc commented on #42
@cariacou Sure, `debconf-set-selections` should help, please refer to the doc https://manpages.debian.org/bullseye/debconf/debconf-set-selections.1.en.html

[2021-11-19 12:36] SecretShangri-La commented on #37
I'm going to be straight to the point. The `tar.gz` format files, at least the ones starting with `pisugar-archlinux`, don't seem to exist to me. I've also tried `cargo aru`, but it's not practical. If I'm missing something, I'm very sorry, but are you sure that's been released?

![Screenshot 2021-11-19 at 21-35-10 Releases · PiSugar pisugar-power-manager-rs](https://user-images.githubusercontent.

[2021-11-19 13:50] SecretShangri-La commented on #37
When I was building DoxBox-X a while ago, I noticed that a shell script called `build-aur.sh` was added. It seems that I was mistaken. I would like to take this opportunity to apologize.

Now, let's get down to business. When I read the contents of the `build-aur.sh` script, I found that it was intended to be run inside this project, so I ran it, and the following log was output

[code]

I also ra

[2021-11-19 14:35] SecretShangri-La commented on #37
Here's what I found out after dissecting an interesting shell script and PKGBUILD file.
As it turns out, these two scripts do not work as the current situation. They need to be hacked a bit. However, I have a strong interest in this hack, so I will continue. If there is any further news, I will post it in this thread.
Thanks for creating the script!

[2021-11-23 02:02] cariacou commented on #18
I am having the same issue. The Pi is in a box, with no access to the "activate" button.

Is there any way to use the PI Sugar, without using the buttons, by simply just plugging in / unplugging the USB-C cable?

[2021-12-01 16:27] alcofrisbas commented on #25
I am running pisugar-server v1.6.1 on my pi4(32bit) and am still having this problem. I have it plugged into an hdmi cable with no other hats or connections, and still only 0x32 is the only recognized i2c connection. I have followed all advice in this thread so far, but still have no percentage readout nor any connection on address 0x75. What are my next steps?

[2021-12-02 01:23] fengyc commented on #25
Hi, @alcofrisbas please check whether the pisugar is power on or off, if it is power on and i2c address 0x75 could not be detected, contact us pisugar.zero@gmail.com.

[2021-12-02 02:09] alcofrisbas commented on #25
@fengyc I am not sure what you mean. The battery pack is the only power to the pi, so it has to be on in order for the pi to be on.

[2021-12-02 02:24] fengyc commented on #25
@alcofrisbas  Ok, please contact us via email,  our customer support will track this case.

[2021-12-07 00:50] fengyc commented on #42
@cariacou I will close the issue as there is not more comments, if you still have questions, please feel free to reopen it.

[2021-12-07 00:50] #42 closed

[2021-12-11 16:00] fengyc commented on #37
Hi, @SecretShangri-La . I had fix some errors of the script. As I'm not familiar with arch linux,  I am not sure it works or not (tested in a docker box that without systemd as init system).  If you are still working on it,  you could take a look. Thanks for your time!

[2021-12-15 10:51] sxxymzy opened #43 "[FEATURE] Is there a way to turn off the blue LED lights?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
 Is there a way to turn off the blue LED lights?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Need to turn off the blue LED lights

**Describe alternatives you've considered**
A clear and

[2021-12-15 15:47] fengyc commented on #43
Sorry, the power led is directly connected to the power switch, it could not be turn off individually.

[2021-12-20 22:02] Jesstr8803 opened #44 "[BUG] Raspberry pi zero 2 with pisugar2"
**Environment**
 - Pi hardware version: Zero 2
 - OS version: Pi OS lite Buster
 - Application version: 1.5.0

**To Reproduce**
Steps to reproduce the behavior:
After installing 1.5.0 of piserver using curl http://cdn.pisugar.com/release/Pisugar-power-manager.sh | sudo bash
The battery seems to communicated fine with raspberry pi, can request any battery flag using nc -U /tmp/pisugar-server.sock a

[2021-12-22 01:14] fengyc commented on #44
@Jesstr8803 Thanks for the report.

If the  pisugar2 rtc keep reporting  lots of `xx`s, that  means the hardware has some problem, please contact pisugar.zero<at>gmail.com for further support.

The error in ` /etc/default/pisugar-server` had been fixed in the latest development build, you could install the latest one and test again.

[2021-12-26 20:56] Jesstr8803 commented on #44
@fengyc Thanks for getting back to me, I was able to try 1.6.4 and that version seemed to fix the /etc/default/pisugar-server and the web authorization login. But I am still having issues with the date reporting back correctly with the rtc_alarms. I have contacted the email provided. Thank you fengyc. I also have a couple more boards on order, ,so when I recieve them I can do more testing!

[2021-12-28 19:39] Jesstr8803 commented on #44
@fengyc I have contacted the email provided, and they said that uaving thr XX in the RTC is ok and it should not affect the function of the RTC as the important information is at the top of the register. Looking forward to the next update, hopefully you can figure out the date issue with the alarms!

[2021-12-29 16:02] fengyc commented on #44
Could you update the rtc and set up a wake up alarm via web ui ?

`rtc_alarm_time: 1999-12-31T17:00:00-07:00`  is `UTC 2000-01-01T00:00:00`,  the pisugar-server would return this value if the data of rtc is incorrect.

[2021-12-31 22:26] Jesstr8803 commented on #44
@fengyc, I can set the time correctly from both the Web UI and using the socket. But the date still comes back incorrectly.

[code]

[2022-01-04 04:13] fengyc commented on #44
@Jesstr8803 The rtc_alarm_time value is correct. Only the hh:MM:ss and the weekday repeat values could control the rtc alarm, the yyyy/mm/dd part of rtc_alarm_time would be ignored.

[2022-01-15 06:23] Jesstr8803 commented on #44
@fengyc, Sorry for taking so long to get back, Thanks for all your help! Just out of curiosity, did the date report correctly in a previous version? maybe 1.5?

[2022-01-15 13:26] erlendv commented on #30
Is there not any way to restart the pisugar when re-powered without flipping the on/off switch? I just received my pisugar 2 after a month in shipping just to realize this. Its a breaker for my application since it will be mounted inside an old retro speaker.

[2022-01-17 06:19] fengyc commented on #44
@Jesstr8803 No.

My plan is to add a new feature to allow setting the year and month of the alarm datetime, but I am not sure whether the RTC chip could support this feature. Will update the code if I make it work.

[2022-01-17 06:24] fengyc commented on #30
@erlendv Could you open another issue, and describe the purpose and the problem?  Thanks.

[2022-01-17 10:16] erlendv opened #46 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
Im doing a small project building and audio-streamer into a retro speaker. It contains a rpi zero with a justboom dac and a small amplifier. The speaker will have an on/off switch which will cut the power coming in. I have a relay which will make a gpio pin high when power is switched off, triggering a shutdown.I have ordered a PiS

[2022-02-09 08:28] FGMGIT commented on #46
Any update with this improvement? For IoT devices in remote environments where the enclosure must be waterproof. The connection function when the battery is plugged in would be a plus.

[2022-02-09 11:38] FGMGIT opened #49 "Get battery charging status when Solar or Qi pluged [BUG]"
**Environment**
 - Pi hardware version: <zero w. PiSugar2>
 - OS version: <Pi OS/bullseye...>
 - Application version: <1.6.4>

**To Reproduce**
Steps to reproduce the behavior:
1. Connect solar input to board pads provided
2. Power on with battery only
3. get battery_power_plugged
4. result: battery_power_plugged: false
5. get battery_v
6. result: battery_v: 2.5999992
7. When battery is arround 4,

[2022-02-19 15:10] saadouache opened #53 "not working on archlinux (PiKVM) on rPi zero 2 w [BUG]"
**Environment**
 - Pi hardware version: Zero 2 W
 - OS version: arch linux (PiKVM) Linux pikvm 5.10.52-14-ARCH #1 SMP Thu Dec 2 10:51:34 MSK 2021 armv7l GNU/Linux
 - Application version: 1.6.4-1

**Screenshots**
the pisugar-archlinux_1.6.4_all.tar.gz doesn't include a folder for the armv7h architecture

==> Making package: pisugar-bin 1.6.4-1 (Sat Feb 19 16:57:28 2022)
==> Checking runtime depende

[2022-03-17 02:14] Tetsujinfr opened #58 "[BUG] pi sugar 3 plus webUI does not work"
**Environment**
 - Pi hardware version: <3b+...>
 - OS version: <Bullseye>
 - Application version: <where do I find this???>

**To Reproduce**
Steps to reproduce the behavior:
1. Install pi sugar 2 pro
2. Install software as per doc on wiki and get the server running, all good.
3. Remove pi sugar 2 pro and replace by pi sugar 3 plus
4. Go directly to webUI (I did not find any specific softwate ins

[2022-03-17 11:54] Tetsujinfr commented on #58
Fyi I can see the 2 i2c addresses of the pis3+ device, but the WEBUI is desperately not active.
I still have the pi sugar 2 pro software installed on my raspberry3 b+.
Here is a screenshot:
![screenshot_pisugar3plus_no_WEBUI](https://user-images.githubusercontent.com/29961693/158803046-e78ef7ad-835b-4c61-b791-d9b13a03b245.png)
:

[2022-03-17 13:41] Tetsujinfr commented on #58
Ok so I managed to solve this issue.
I did follow the [instructions](https://github.com/PiSugar/pisugar-power-manager-rs) of this project repo, i.e. unistall the existing packages and re-install the power management rs stack, and it works now.
There is some logic to it but I think that:
1. the instructions on the flyer card in the pisugar box mentioning to go to github/pisugar/pisugar/wiki are act

[2022-03-17 13:41] #58 closed

[2022-04-07 22:18] iamk3 commented on #25
Has this issue been resolved? I'm seeing the same thing.

[2022-04-13 18:18] RedStonesparrow opened #61 "PiSugarSButtonActive.sh and safe shutdown on S plus?"
having trouble figuring out what i need to download for my S plus to shutdown the pi when the power is low or when I pres the button. I saw the  PiSugarSButtonActive.sh but i'm unsure what it does and how to use it properly.

[2022-05-22 14:52] MrTrueFail commented on #25
Hi,
I have the same issue: No battery seems to be available, i2cdump is empty and requesting a state via the socket returns invalid request.
However, when I change Schedule Wake Up from "On Power Restore" to "disable" and back again to "On Power Restore", suddenly everything is working the way it should.
I launched the server manually to get a output and apparently the pisugar_core module is stuck

[2022-05-29 10:25] wlmh110 commented on #25
Please use this command and post the result:
i2cdetect -y 1

[2022-07-07 23:39] g-or-well commented on #61
For the "button shutdown" on my PiSugar S (without the plus) my approach was this:

- get said script and edit line 37 and/or 39 to read "sudo shutdown -h now".
- edit your crontab to start the script at boot
- push the button: magic :-)

As for the automatic shutdown on low battery: isn't that a feature anyway?
In the wiki it says: "When the battery voltage is lower than 3V, PiSugar S will shut d

[2022-07-31 09:18] Arthur-Philip-Dent opened #73 "PiSugar3 on Pi0-2W: "On Power Restore" loops while "battery_power_plugged: true""
Hi *!

I wanted to ask, if someone can fix this:

PiSugar3 on Pi0-2W is set to "On Power Restore".
Safe Shutdown on 30% battery-level is set.

When power restorred on USB-C, still the battery has the level of 30% (or below due to temperature drop...) and after booting up the "Safe Shutdown on 30% (or below)" cuts in resulting in a looping of permant rebooting.
Please add a conditional check for
`i

[2022-08-04 10:13] gianmarco-mameli opened #74 "Pisugar 3 RTC Model and Configuration"
Hi,
i've recently buyed a Pisugar 3, for using it with a Raspberry PI Zero W and the Pwnagotchi image.
I need to use the hardware RTC onboard, but unfortunately there's no way to make it work. Before buiyng the Pisugar, the Raspberry was equipped with a hardware rtc from Adafruit and it worked like a charm. I uninstalled it before installing the Pisugar, and started with a fresh os image.
With the

[2022-08-14 22:02] mitpre commented on #74
I have the same issue and the creators are unresponsive over their email.

[2022-08-16 07:19] mitpre opened #75 "[BUG] PiSugar3; Read soft poweroff flag error warnings"
**Environment**
 - Pi hardware version: Raspberry Pi Zero W Rev 1.1
 - OS version: Raspbian GNU/Linux 11 (bullseye) (debian 11.4)
 - Application version: 1.7.1
 - PiSugar 3 firmware version: 1.2.6

The `PiSugar3` board is connected to my `pi zero w` and is constantly charging through its USB-C port. It is running more or less normally -- apart from the same RTC problems as described in issue [#74]

[2022-08-16 07:37] mitpre opened #76 "[BUG] PiSugar3 firmware update peculiarities"
**Environment**
 - Pi hardware version: Raspberry Pi Zero W Rev 1.1
 - OS version: Raspbian GNU/Linux 11 (bullseye) (debian 11.4)
 - Application version: 1.7.1
 - PiSugar 3 firmware version: 1.2.6

When doing the firmware update of my PiSugar 3 board with `curl https://cdn.pisugar.com/release/PiSugarUpdate.sh | sudo bash` you should be asked the to confirm that the following is true:
[code]
Howeve

[2022-08-17 12:52] mitpre commented on #73
I have the same issue and would be very happy if it would be resolved.

[2022-08-17 20:07] gianmarco-mameli commented on #74
ok, @mitpre thanks for sharing

[2022-09-02 12:51] mitpre commented on #74
@gianmarco-mameli I got a new update from the team behind pisugar3. You can now use on board RTC. Guide on how to do so is here: https://github.com/PiSugar/PiSugar/wiki/PiSugar-3-Series#rtc-on-board

[2022-09-02 13:00] gianmarco-mameli commented on #74
Hi, @mitpre thank you, I'd give it a try asap and I write back to you to confirm

[2022-09-12 12:48] danktankk opened #78 "Multiple problems [BUG]"
**Environment**
 - Pi hardware version: zero w
 - OS version: VERSION="10 (buster)"
 - Application version: 1.7.4

**Additional context**

1:  I can't seem to get the UPS to work as expected.   If I unplug the pi zerow, it reboots instead of the battery taking over to supply power.  If I having it running on battery and plug it in, it also reboots.  Is this normal?  How do you test this if this is

[2022-09-13 13:36] danktankk commented on #78
no need to reply.  I sent it back and will be buying something other than pisugar,

[2022-10-06 16:38] eqikkwkp25-cyber opened #79 "[BUG] Pisugar2 Pro Portable 5000 mAh UPS + Raspberry Pi Zero 2 W"
**Environment**
 - Pi hardware version: Pisugar2 Pro Portable 5000 mAh UPS + Raspberry Pi Zero 2 W
 - OS version: Latest Raspian Buster and Raspian Bullseye as og 22th of Sep 2022
 - Application version:  1.7.4

**To Reproduce**
Steps to reproduce the behavior:
Install using instructions https://github.com/PiSugar/pisugar-power-manager-rs and choose PiSugar 2 Pro or PPiSugar 2 (2-LEDs).

Choosing

[2022-10-29 18:03] eqikkwkp25-cyber commented on #79
Any updates?

[2022-10-31 16:01] gianmarco-mameli commented on #74
Hi @mitpre , sorry for my late feedback, the RTC seems working now, thanks

[2022-11-03 14:04] Bastien-BSF opened #81 "[BUG] Boot Watchdog not triggering"
**Environment**
 - Pi hardware version: Rpi4
 - OS version: Raspbian Lite BullsEye
 - Application version: N/A

**To Reproduce**
Steps to reproduce the behavior:
- Execute the script found here: https://github.com/PiSugar/pisugar-power-manager-rs/blob/master/scripts/BootWatchdogPiSugar3.sh
- Reboot the Rpi4 with PiSugar 3 in an invalid state or without the SD card or properly booting the system wi

[2022-11-09 07:31] Bastien-BSF opened #82 "[BUG] Power output switch delay not taken into account"
**Environment**
 - Pi hardware version: 4
 - OS version: Pi OS Lite

**To Reproduce**
Steps to reproduce the behavior:
1. Set the 0x09 register to 30
2. Set the bit 5 of 0x02 address to 1

**Expected behavior**
The PiSugar should cut the power output after waiting for 30 seconds as specified in 0x09. But instead it cuts the power immediately.